.admin-pannel {
    background-color: white;
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;
}

.admin-pannel a {
    display: block;
    margin: 5px 5px 0px 0px;
}

a.edit, a.delete {
display: none;
}